@import '_reset';
@import '_variables';

.banner{
        min-height: 500px;
        background-image: url(../images/banner.png);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .banner-content {
        width: 600px;
        h2{
        color: $light-color;
        font-size: 40px;
        font-family: $myFont;
        }
        p{
        color: $light-color;
        font-family: $myFont;
        }
        } 
    
}