@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$myFont: 'Roboto';
$primary-color: #F36523;
$secondary-color: #000;
$light-color: #F6F6F6;
$transition: .3s ease;
$site-color: #F7AD1D;