@import '_reset';
@import '_variables';
@import '_stylesheet';

.nav-link.active {
    background-color: $primary-color;
    color: $light-color !important;
    border-radius: 30px;
}

li.nav-item {
    padding: 0 10px;

}