@import '_reset';
@import '_variables';
@import '_stylesheet';

.nav-link.active {
    background-color: $primary-color;
    color: $light-color !important;
    border-radius: 30px;
}

li.nav-item {
    padding: 0 10px;
}

.carousel-caption.d-none.d-md-block.custom-cap {
    position: absolute;
    top: 38%;
    left: 10%;

    h5.title-carousel {
        font-size: 45px;
        color: $secondary-color;
        text-align: left;
        .custom-color{
            color: $site-color;
        }
    }
    p{
        color: $secondary-color;
        text-align: left;
    }
}

.footer-absolute{
    background-color: $site-color;
}